body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 30px;
}

h1 {
    text-align: center;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

form input {
    padding: 8px;
}

.checkbox {
    grid-column: span 2;
}

button {
    padding: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

table th {
    background: #eee;
}

.btn-editar {
    background: #ffc107;
    border: none;
    padding: 5px;
}

.btn-eliminar {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.header h1 {
  margin: 0;
  text-align: center;
  flex: 1;
}

.logo {
  width: 80px; 
  height: auto;
}

@media (max-width: 768px) {

  body {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    gap: 10px;
  }

  .logo {
    width: 45px;
  }

  table {
    font-size: 12px;
  }

  form {
    width: 100%;
  }

  input, select, button {
    width: 100%;
    margin-bottom: 8px;
  }
}
